<form [formGroup]="frmUsuario">

  <div>
    <label for="numFinca">Numero de finca</label>
    <input type="number" formControlName="numFinca" id="numFinca">
  </div>

  <div>
    <label for="numAbonado">Numero de abonado</label>
    <input type="number" formControlName="numAbonado" id="numAbonado">
  </div>

  <div>
    <select>
      <option value="1">Agua</option>
      <option value="2">Alumbrado</option>
      <option value="3">Basura</option>
      <option value="4">Parques</option>
      <option value="5">Patente</option>
      <option value="6">Intereses Moratorios</option>
    </select>
  </div>

  <!-- cambiar esto -->
  <div (click)="seleccionar(usuario,apellido)" *ngFor="let usuario of usuarios">
    {{usuario.nombre }} {{ usuario.apellido}}
  </div>

  <div>
    <button (click)="agregar">Buscar</button>
  </div>

  <div>
    <button (click)="pagar">Pagar recibo</button>
  </div>
</form>